@{
	ViewBag.Title = "Satyaprakash Bhubaneswar Google Map";
}
<script>
	function myMap() {
		var myCenter = new google.maps.LatLng(85.824500, 85.824500);
		var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
		var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
		var marker = new google.maps.Marker({ position: myCenter });
		marker.setMap(map);
	}
</script>
<title>@ViewBag.Title</title>

<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(20.296100, 85.824500);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHQFxLKLWMvOQR5cCjKxkWED2YH98V2G8&callback=myMap"></script>
</fieldset>

