@model List<Facility>;
@{
	ViewData["Title"] = "TableActivities";
}

<h1>TableActivities</h1>
<table class="table-bordered table-hover">
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(name => item.Name)
			</td>
			<td>
				@Html.DisplayFor(name => item.Address.Street)
			</td>
			<td>
				<a asp-action="ShowDetail" asp-route-id="@item.Id">Detail</a>
			</td>

		</tr>

	}
</table>
